{% extends "app/base.html" %}
{% load static %}
{% block title %}
index
{% endblock %}
{% block content %}

<!--Client CSS-->
<style>
      .section-title h2 {
          text-align: center;
          font-size: 18px;
          font-weight: 600;
          text-transform: uppercase;
          padding-bottom: 6px;
          color: #000;
          letter-spacing: 0.3px;
          padding: 0;
          position: relative;
      }
      .section-title::after {
          content: "";
          height: 3px;
          background: #fbb900;
          width: 80px;
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;
          
      }
      /****************/
      /*	 BX-SLIDER 	*/
      /****************/
      section.client {
        padding:2em 0em;
        background-color: white;
      
      }
      section.client .section-title {
        margin-bottom: 2em;
      }
      .bx-controls {
        position: relative;
      }
      .bx-wrapper .bx-pager {
          text-align: center;
          padding-top: 30px;
      }
      .bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
          display: inline-block;
          *zoom: 1;
          *display: inline;
      }
      .bx-wrapper .bx-pager.bx-default-pager a {
          background: #666;
          text-indent: -9999px;
          display: block;
          width: 10px;
          height: 10px;
          margin: 0 5px;
          outline: 0;
          -moz-border-radius: 5px;
          {% comment %} -webkit-border-radius: 5px; {% endcomment %}
          border-radius: 5px;
      } 

      {% comment %} .carousel-client {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1em; /* Adjust spacing between logos */
        padding: 0 1em; /* Add padding to the container */
    }
    .carousel-client .slide {
        flex: 1 1 100px; /* Adjust flex basis to control the size of the logos */
        max-width: 100px; /* Adjust maximum width of each logo */
        text-align: center;
    }
    .carousel-client .slide img {
        max-width: 100%;
        height: auto; /* Maintain aspect ratio */
        display: inline-block;
    } {% endcomment %}

      
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


<style>

    /* Add your styles here */
    .nav-link {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 100px 60px; /* Adjust padding to increase button size */
      margin: 0 5px;
      text-decoration: none;
      color: #333;
      transition: all 0.3s ease;
      font-size: 100px; /* Adjust font size to increase button height */
  }
  

    .nav-link.active {
        background-color: #fe3f40;
        color: #fff;
        border-color: #fe3f40;
        border-radius: 10px;
        
    }

    .nav-link:hover {
        background-color: #fe3f40;
        color: #fff;
        border-color: #fe3f40;
        border-radius: 10px;
        
    }
</style>


<!--FAQ CSS-->
<style>
 
      .faq_area {
          position: relative;
          z-index: 1;
          {% comment %} background-color: #f5f5ff; {% endcomment %}
      }

      .faq-accordian {
          position: relative;
          z-index: 1;
      }
      .faq-accordian .card {
          position: relative;
          z-index: 1;
          margin-bottom: 1.5rem;
      }
      .faq-accordian .card:last-child {
          margin-bottom: 0;
      }
      .faq-accordian .card .card-header {
          background-color: #ffffff;
          padding: 0;
          border-bottom-color: #ebebeb;
      }
      .faq-accordian .card .card-header h6 {
          cursor: pointer;
          padding: 1.75rem 2rem;
          color: black;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -ms-grid-row-align: center;
          align-items: center;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
      }
      .faq-accordian .card .card-header h6 span {
          font-size: 1.5rem;
          {% comment %} background-color: #d1f3ff; {% endcomment %}
          background: linear-gradient(-45deg, #83c5be, #adb5bd);
      }
      .faq-accordian .card .card-header h6.collapsed {
          color: Black;
          {% comment %} background-color: #d1f3ff; {% endcomment %}
          background: linear-gradient(-45deg, #83c5be, #adb5bd);
      }
      .faq-accordian .card .card-header h6.collapsed span {
          -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
      }
      .faq-accordian .card .card-body {
          padding: 1.75rem 2rem;
      }
      .faq-accordian .card .card-body p:last-child {
          margin-bottom: 0;
      }

      @media only screen and (max-width: 575px) {
          .support-button p {
              font-size: 14px;
          }
      }

      .support-button i {
          color: #3f43fd;
          font-size: 1.25rem;
      }
      @media only screen and (max-width: 575px) {
          .support-button i {
              font-size: 1rem;
          }
      }

      .support-button a {
          text-transform: capitalize;
          color: #dc3545;
      }
      @media only screen and (max-width: 575px) {
          .support-button a {
              font-size: 13px;
          }
      }
</style>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
  <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<!--Hero Banner-->
  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <h6>Welcome to {{footer.companyName}}</h6>
                <h2>{{herobanner.title}}</h2>
                <p>{{herobanner.description|safe}}</p>
                <div class="main-red-button"><a href="{% url 'app:contact' %}">Contact Now</a></div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="{{herobanner.image.url}}" alt="team meeting">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--End hero banner-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


<!--Hosting Packages-->
<section class="price-sec" style="background-color: white; b">
  <div class="container-fluid">
      <div class="container">
        <div class="row" style=" margin-bottom: 60px; justify-content: center; align-items: center;">
          <div class="col-lg-6 offset-lg-3">
            <div class="section-heading  wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
              <h2>Hosting <span>Packages</span></h2>
            </div>
          </div>
        </div>
          <div class="row section-heading  wow fadeIn mb-5" style="margin-top: 20px; margin-bottom: 100px;">
              <ul class="nav justify-content-center">
                  
                  <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="#first" >Basic</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#second">Standard</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#third">Premium</a>
                  </li>
              </ul>
          </div>
          <div class="tab-content">
              <div id="first" class="tab-pane active">
                  <div class="row wow fadeIn" >
                      <div class="col-sm-4 price-table">
                          <!-- Basic Content -->
                      </div>
                  </div>
              </div>
              <div id="second" class="tab-pane">
                <div class="row wow fadeIn">
                  <div class="col-sm-4 price-table">
                      <div class="card text-center">
                          <div class="title">
                              <i class="fa fa-paper-plane"></i>
                              <h2>Basic</h2>
                          </div>
                          <div class="price">
                              <h4><sup>$</sup>25</h4>
                          </div>
                          <div class="option">
                              <ul>
                                  <li><i class="fa fa-check"></i> 10 GB Space</li>
                                  <li><i class="fa fa-check"></i> 3 Domain Names</li>
                                  <li><i class="fa fa-check"></i> 20 Email address</li>
                                  <li><i class="fa fa-times"></i> Live Support</li>
                              </ul>
                          </div>
                          <a href="#">Order Now</a>
                      </div>
                  </div>
                  <!-- (1) ===================================-->
                     <div class="col-sm-4 price-table">
                      <div class="card text-center">
                          <div class="title">
                              <i class="fa fa-plane"></i>
                              <h2>Standard</h2>
                          </div>
                          <div class="price">
                              <h4><sup>$</sup>35</h4>
                          </div>
                          <div class="option">
                              <ul>
                                  <li><i class="fa fa-check"></i> 10 GB Space</li>
                                  <li><i class="fa fa-check"></i> 10 Domain Names</li>
                                  <li><i class="fa fa-check"></i> 20 Email address</li>
                                  <li><i class="fa fa-times"></i> Live Support</li>
                              </ul>
                          </div>
                          <a href="#">Order Now</a>
                      </div>
                  </div>
                  <!-- (2) ===================================-->
                     <div class="col-sm-4 price-table">
                      <div class="card text-center">
                          <div class="title">
                              <i class="fa fa-rocket"></i>
                              <h2>Premium</h2>
                          </div>
                          <div class="price">
                              <h4><sup>$</sup>100</h4>
                          </div>
                          <div class="option">
                              <ul>
                                  <li><i class="fa fa-check"></i> 10 GB Space</li>
                                  <li><i class="fa fa-check"></i> 60 Domain Names</li>
                                  <li><i class="fa fa-check"></i> 20 Email address</li>
                                  <li><i class="fa fa-times"></i> Live Support</li>
                              </ul>
                          </div>
                          <a href="#">Order Now</a>
                      </div>
                  </div>
                  <!-- (3) ===================================-->
              </div>
              </div>
              <div id="third" class="tab-pane">
                  <div class="row">
                      <div class="col-sm-4 price-table">
                          <!-- Premium Content -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>


<script>
  // JavaScript to activate tab content
  const tabs = document.querySelectorAll('.nav-link');
  const tabContents = document.querySelectorAll('.tab-pane');

  tabs.forEach(tab => {
      tab.addEventListener('click', function(event) {
          event.preventDefault();
          const target = document.querySelector(this.getAttribute('href'));
          tabContents.forEach(content => {
              content.classList.remove('active');
          });
          tabs.forEach(tab => {
              tab.classList.remove('active');
          });
          target.classList.add('active');
          this.classList.add('active');
      });
  });
</script>
<!--End Hosting Packages-->


  <!--About Section-->
  <div id="about" class="about-us section d-md-flex d-none">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="left-image wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
            <img src="{{about.image.url}}" alt="person graphic">
          </div>
        </div>
        <div class="col-lg-8 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
          <div class="section-heading">
            <h2 style="color: white;">{{about.title}}</h2>
            <p style="color: white;">{{about.description|safe}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End About Section-->

  <div id="services" class="our-services section d-md-none d-sm-flex" style="margin-top: 5%;">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center  wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
          <div class="left-image">
            <img src="{{about.image.url}}" alt="">
          </div>
        </div>
        <div class="col-lg-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
          <div class="section-heading">
            <h2>{{about.title}}</h2>
            <p>{{about.description|safe}}</p>
          </div>
          
        </div>
      </div>
    </div>
</div>



  <!--Service Section-->
  <div id="portfolio" class="our-portfolio section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading  wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <h2>See What Our Agency Offers &amp; What We Provide</h2>
          </div>
        </div>
      </div>
      <div class="row">
        {% for item in service %}
        <div class="col-lg-3 col-sm-6">
          <a href="#">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
              <div class="hidden-content">
                <h4>{{item.title}}</h4>
                <p>{{item.description|safe}}</p>
              </div>
              <div class="showed-content">
                <img src="{{item.logo.url}}" alt="">
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
        {% comment %} <div class="col-lg-3 col-sm-6">
          <a href="#">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.4s">
              <div class="hidden-content">
                <h4>Website Reporting</h4>
                <p>Lorem ipsum dolor sit ameti ctetur aoi adipiscing eto.</p>
              </div>
              <div class="showed-content">
                <img src="{% static 'app/assets/images/portfolio-image.png' %}" alt="">
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6">
          <a href="#">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.5s">
              <div class="hidden-content">
                <h4>Performance Tests</h4>
                <p>Lorem ipsum dolor sit ameti ctetur aoi adipiscing eto.</p>
              </div>
              <div class="showed-content">
                <img src="{% static 'app/assets/images/portfolio-image.png' %}" alt="">
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6">
          <a href="#">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.6s">
              <div class="hidden-content">
                <h4>Data Analysis</h4>
                <p>Lorem ipsum dolor sit ameti ctetur aoi adipiscing eto.</p>
              </div>
              <div class="showed-content">
                <img src="{% static 'app/assets/images/portfolio-image.png' %}" alt="">
              </div>
            </div>
          </a>
        </div> {% endcomment %}
      </div>
    </div>
  </div>
  <!--End Service Section-->

    


    <!--FAQ Section-->
    <div class="faq_area section_padding_130" id="faq" style="margin-top: 100px;">
      <div class="container">
          <div class="row justify-content-center" style="margin-bottom: 30px;">
              <div class="col-12 col-sm-8 col-lg-6">
                  <!-- Section Heading-->
                  <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                      <h3><span>Frequently </span> Asked Questions</h3>
                      <div class="line"></div>
                  </div>
              </div>
          </div>
          <div class="row justify-content-center">
              <!-- FAQ Area-->
              <div class="col-12 col-sm-10 col-lg-8">
                  <div class="accordion faq-accordian" id="faqAccordion">
                    {% for item in question %}
                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                            <div class="card-header" id="heading{{ forloop.counter }}">
                                <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                                    {{item.question}}<span class="icon">+</span>
                                </h6>
                            </div>
                            <div class="collapse" id="collapse{{ forloop.counter }}" aria-labelledby="heading{{ forloop.counter }}" data-parent="#faqAccordion">
                                <div class="card-body">
                                    <p>{{item.answer|safe}}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                  </div>
                  <!-- Support Button-->
                  <div class="support-button text-center d-flex align-items-center justify-content-center mt-4 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                      <i class="lni-emoji-sad"></i>
                      <p class="mb-0 px-2">Can't find your answers?</p>
                      <a href="{% url 'app:contact' %}"> Contact us</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
    
  <script>
    document.querySelectorAll('.faq-accordian .card-header').forEach(header => {
        header.addEventListener('click', function() {
            const icon = this.querySelector('.icon');
            const isOpen = this.getAttribute('aria-expanded') === 'true';
            
            document.querySelectorAll('.faq-accordian .card-header .icon').forEach(i => i.textContent = '+');
            if (!isOpen) {
                icon.textContent = '-';
            } else {
                icon.textContent = '+';
            }
        });
    });
</script>
    <!--End FAQ Section-->


    <!--Client Section-->
    <section class="client" style="margin-top: 100px;">
      <div class="container">
        <div class="row">
    
          <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; margin-bottom: 50px;">
            <h3><span>Our </span> Clients</h3>
            <div class="line"></div>
        </div>
    
          <div class="carousel-client">
            {% for item in client %}
              <div class="slide"><a href="{{item.url}}"><img src="{{item.logo.url}}" style="height:120px; width:120px;object-fit:cover;"></a></div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
    <!--End Client Section-->


  
  <!--Contact Section-->
  <div id="contact" class="contact-us section" style="margin-bottom: 150px;">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <div class="section-heading">
            <h2>Feel Free To Send Us a Message About Your Website Needs</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doer ket eismod tempor incididunt ut labore et dolores</p>
            <div class="phone-info">
              <h4>For any enquiry, Call Us: <span><i class="fa fa-phone"></i> <a href="#">010-020-0340</a></span></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <form id="contact" action="{% url 'app:contact' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-6">
                    <fieldset>
                        <input type="text" name="name" id="name" placeholder="Name" autocomplete="on" required>
                    </fieldset>
                </div>
                <div class="col-lg-6">
                    <fieldset>
                        <input type="text" name="surname" id="surname" placeholder="Surname" autocomplete="on" required>
                    </fieldset>
                </div>
                <div class="col-lg-12">
                    <fieldset>
                        <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email" required>
                    </fieldset>
                </div>
                <div class="col-lg-12">
                    <fieldset>
                        <textarea name="message" type="text" class="form-control" id="message" placeholder="Message" required></textarea>
                    </fieldset>
                </div>
                <div class="col-lg-12">
                    <fieldset>
                        <button type="submit" id="form-submit" class="main-button">Send Message</button>
                    </fieldset>
                </div>
            </div>
            <div class="contact-dec">
                <img src="{% static 'app/assets/images/contact-decoration.png' %}" alt="">
            </div>
        </form>
        </div>
      </div>
    </div>
  </div>
  <!--End Contact Section-->



<script>
  	/**********************/
	/*	Client carousel   */
	/**********************/
	$('.carousel-client').bxSlider({
		auto: true,
	    slideWidth: 234,
	    minSlides: 2,
	    maxSlides: 5,
	    controls: false
	});
</script>


{% endblock %}

  