{% extends "app/base.html" %}
{% load static %}
{% block title %}
index
{% endblock %}
{% block content %}
<div id="portfolio" class="our-portfolio section" style="margin-top: 5%; margin-bottom:10%;">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading  wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <h2>Our Services</span></h2>
          </div>
        </div>
      </div>
      <div class="row">
        {% for item in service %}
        <div class="col-lg-3 col-sm-6">
          <a href="{% url 'app:serviceDetail' item.id  %}">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
              <div class="hidden-content">
                <h4>{{item.title}}</h4>
                <p>{{item.description|safe|truncatechars:40}}</p>
              </div>
              <div class="showed-content">
                <img src="{{item.logo.url}}" alt="" style=" height:150px; width: 200px; object-fit: cover;">
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}